.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.content__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
    }
}

.content__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

@media screen and (max-width: 767px) {
    text-align: center;
}
}

.content__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
.content__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
}

@media screen and (max-width: 1199px) {
.section_no-padding-top {
    display: none;
}
    
}

@media screen and (min-width: 1200px) {
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.content__list {
    justify-content: space-between;
} 
}


@media screen and (min-width: 1200px) {
.section_no-padding-top {
    padding-top: 0px;
}

.img-box {
    display: flex;
    justify-content: space-between;
}

.img-box__item {
    position: relative;
}

.img-box__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
}    
}











