.portfolio-nav {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-nav__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--main-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-cards__box {
    border: 1px solid #EEEEEE;
    border-top: transparent;
    padding: 24px 20px;
}

.portfolio-cards__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
}

.portfolio-cards__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.portfolio-cards__link {
    display: block;
    transition: box-shadow var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.portfolio-cards_overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--duration) var(--timing-function);

    .portfolio-cards__link:hover &,
    .portfolio-cards__link:focus & {
        transform: translate(0, 0);
    }
}

