@media screen and (max-width: 767px) {
    
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 10px;
    line-height: 0;
    cursor: pointer;

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
}

.mobile-menu__close-icon {
    width: 19px;
    height: 19px;
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 35px;
}

.mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--duration) var(--timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}     

.mobile-menu__link_current {
    color: var(--accent-color);
}

// .mobile-contacts {
//     margin-bottom: 64px;
// }

.mobile-contacts__item:last-child {
    margin-top: 32px;
    margin-bottom: 64px;
}

.mobile-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mobile-contacts__link_change {
    display: block;
    font-size: 24px;
    line-height: 1.17;
    color: var(--secondary-text-color);
}

.mobile-socials {
    display: flex;
    flex-wrap: wrap;
}

.mobile-socials__item:not(:last-child) {
    margin-right: 10px;
}

.mobile-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: text-shadow var(--duration) var(--timing-function);

        &:hover,
        &:focus {
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
        }
}
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}