.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 30px);
    margin: auto;    
    background-color: var(--main-color);
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

@media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
}

@media screen and (min-width: 1200px) {
    width: 528px;
}
}

.modal-box__btn_close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.modal-box__icon {
    transition: fill var(--duration) var(--timing-function);

    .modal-box__btn_close:hover &,
    .modal-box__btn_close:focus & {
        fill: var(--accent-color);
    }
}

