.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-form__field {
    margin-bottom: 10px;
}

.modal-form_textarea {
    margin-bottom: 20px;
}

.modal-form__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal-form__wrapper {
    display: block;
    position: relative;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--duration) var(--timing-function);

    &:focus {
        outline: 0;
        border-color: var(--accent-color);
    }
}

.modal-form__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    transition: fill var(--duration) var(--timing-function);

    .modal-form__input:focus + & {
        fill: var(--accent-color);
    }
}

.modal-form__message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-size: 12px;
    transition: border-color var(--duration) var(--timing-function);

    &::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: 0;
        border-color: var(--accent-color);
    }
}

.modal-form_success {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    cursor: pointer;

    &::before {
        display: block;
        width: 16px;
        height: 15px;
        border: 1px solid var(--primary-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        content: '';
        cursor: pointer;
        margin-right: 7px;
    }

    .modal-form__check:checked + &::before {
        background-color: var(--accent-color);
        background-image: url("../images/vector/vector-fake.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-color: transparent;
    }

    .modal-form__check:focus + &::before {
        outline: 1px solid var(--accent-color);
    }
}

.modal-form__link {
    color: var(--accent-color);
    text-decoration: underline var(--accent-color);
}

.modal-form__submit {
    align-self: center;
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
    background-color: var(--accent-color);
    border-color: transparent;
    transition: background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

